:root {
  --mainText: #fafafa;
  --secondaryText: #d2d2d2;

  --borderColor: #c1c1c1;

  --mainColor: #d2601a;
  --secondaryColor: #1d3c45;

  --themeDotBorder: #fff;

  --previewBg:rgba(25,39, 52, 0.582);
  --previewShadow: #d2601a;

  --buttonColor: #fff1e1;
}